body {
  margin: 0px;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 4px;
  justify-content: center;
}
.menu button {
  padding: 4px 15px;
  background-color: #cca489;
  border-style: solid;
  border-color: #ca6c2d;
  font-family: monospace;
  border-radius: 10px;
  font-weight: 700;
  color: #643414;
  transition-property: all;
  transition-duration: 75ms;
}
.menu button:hover {
  box-shadow: 2px 2px;
  translate: -2px -2px;
}
.menu button:active {
  box-shadow: 0px 0px;
  translate: 0px 0px;
}
.menu button.selected {
  background-color: #f0dbbe;
}
.container {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 80dvh;
}
.moves {
  font-size: 0.75em;
  opacity: 0.8;
  fill: #ca6c2d;
  font-family: monospace;
}
