body {
  margin: 0px;
}
.container {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 80dvh;
}
.moves {
  font-size: 0.75em;
  opacity: 0.8;
  fill: #ca6c2d;
  font-family: monospace;
}
